@model AgroPlus.Models.InfoRegiao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>InfoRegiao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Umidade" class="control-label"></label>
                <input asp-for="Umidade" class="form-control" />
                <span asp-validation-for="Umidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precipitacao" class="control-label"></label>
                <input asp-for="Precipitacao" class="form-control" />
                <span asp-validation-for="Precipitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInfo" class="control-label"></label>
                <input asp-for="DataInfo" class="form-control" />
                <span asp-validation-for="DataInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
